@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff") format("woff");
  src: url("../fonts/cuprum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff") format("woff");
  src: url("../fonts/cuprumbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff") format("woff");
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff") format("woff");
  src: url("../fonts/cuprumitalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff");
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff");
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
span {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px; /* временно */
}

a {
  text-decoration: none;
}

h1 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  color: #ee3643;
}

::placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder, ::-ms-input-placeholder {
  color: white;
}

.topLevel {
  background-color: #293449;
}

.logo {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  box-shadow: #b52933 0 5px;
  padding: 12px 56px;
}

.find input {
  background-color: transparent;
  border: none;
  font-family: Cuprum, Arial, sans-serif;
  color: white;
  font-size: 17px;
}

.find form::before {
  content: url("../img/icon-search.svg");
  opacity: 0.3;
}

.upperCase {
  text-transform: uppercase;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.bookmarksCart a {
  font-size: 17px;
  color: white;
}

.goToCart {
  background-color: #63a63e;
  padding: 16px 20px;
}

.contactsLogin {
  background-color: #f4f7f9;
  display: flex;
}

.address {
  font-size: 14px;
  color: #32425c;
}

.tel {
  font-size: 21px;
  color: #ee3643;
}

.tel::before {
  content: url("../img/icon-phone.svg");
}

.loginLink a {
  font-size: 21px;
  color: black;
  background-color: white;
}

.login::before {
  content: url("../img/icon-login.svg");
}

.siteNav {
  background-color: #32425c;
  box-shadow: #293449 0 5px;
}

.siteNavList {
  list-style-type: none;
}

.siteNavItem a {
  color: white;
}

h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
}

.about p, .map p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
}

.about ul {
  list-style-type: none;
}

.about li:before {
  content:'';
  position: relative;
  left:-36px;
  top:10px;
  display:block;
  width:25px;
  height:2px;
  background:#fb565a
}


.about *, .map * {
  margin-bottom: 40px;
}

.btn {
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  background-color: #ee3643;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 2px;
}

.footerTop {
  background-color: #32425c;
  font-size: 18px;
  color: white;
}

.footerTop .logo {
  padding-top: 21px;
  padding-bottom: 21px;
}

.footerTop ul {
  list-style-type: none;
}

.footerTop a {
  color: white;
}

.footerBottom {
  background-color: #293449;
  color: white;
}

.footerBottom a {
  color: #ffd180;
}

.footerBottom li {
  padding-top: 10px;
  padding-left: 10px; /* Не удается выровнять значки */
  margin: 5px;
  background-color: #212a3a;
  position: relative;
  border-radius: 50%;
  width: 41px;
  height: 41px;
}

.footerBottom ul {
  list-style-type: none;
}

.footerBottom li {
  font-size: 0;
}

.navYellow a {
  color: #ffd180;
}

.bookmarksCart :first-child::before {
  content: url("../img/icon-bookmark.svg");
  opacity: 0.3;
}

.bookmarksCart :first-child::after {
  content: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.userName::before {
  content: url("../img/icon-user.svg");
}

.contactsLogin ul {
  list-style-type: none;
}
.contactsLogin ul a{
  color: #32425c;
  text-decoration: underline;
}

a.userName {
  color: black;
  font-size: 21px;
}

.breadcrumbs ul {
  list-style-image: url("../img/icon-right-small.svg"); /* Не могу убрать отображение стрелку перед первым элементом, даже через :not(:first-child) */
}

.productListItem {
  border: #e5e5e5 1px solid;
  display: flex;
  flex-direction: column;
  width: 220px;
}

.productListItem p, .popularItem {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.lineTrough {
  text-decoration: line-through;
  color: #999999;
}

.redPrice {
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 38px;
}

.popularInCatalog ul, .productList {
  list-style-type: none;
}

.buyBtns {
  display: none;
}

li:hover img.itemCard {
  display: none;
}

li:hover .buyBtns {
  display: flex;
  flex-wrap: wrap;
  margin-right: 43px;
  margin-left: 43px;

}

.slider ul {
  list-style-type: none;
}

.slider ul:first-child {
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  color: white;
}

.slider ul:last-child {
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
  color: white;
}

.buyBtn {
  background-color: #63a63e;
  padding: 13px 45px 11px 19px;
  border-radius: 2px;
  box-shadow: #367315 0 3px;
  color: white;
  font-size: 14px;
}
.buyBtn::before {
  content: url("../img/icon-cart.svg");
  padding-right: 22px;
}

.bkmkBtn {
  border: #63a63e 3px solid;
  border-radius: 2px;
  padding: 9px 27px 9px 30px;
  color: #32425c;
}

.new:before {
  content:'';
  position:absolute;
  z-index:10;
  width:60px;
  height:60px;
  background:url(../img/new-flag.png) no-repeat 0 0;
}

.productList {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
}

main {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.siteNavList{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  vertical-align: center;
}

nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  height: 55px;
}

.siteNavItem {
  font-size: 17px;
}

.topLevel {
  display: flex;
  flex-wrap: nowrap;
}

.headerTop {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.catalogList {
  display: flex;
  flex-wrap: wrap;
}

.bottomCatalog ul {
  display: flex;
}

.catalogItem {
  width: 300px;
  min-height: 123px;
}

.productionsFieldset ul {
  list-style-type: none;
}
